<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.janinacosta.ami">

    <uses-permission android:name="android.permission.CAMERA" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_pastillas"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ActividadLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActividad"
            android:label="@string/title_activity_Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            <s/intent-filter>
        </activity>
        <activity android:name=".ActividadRegistrar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarma"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_apagar_alarma"/>

        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".ActividadCrearAlarma"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_Nuevo_Medicamento">
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_details"></activity>
        <activity
            android:name=".NuevoMedicamentoActivity"
            android:label="@string/title_activity_Nuevo_Medicamento"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MisMedicamentosActivity"
            android:label="@string/title_activity_Mis_Medicamentos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MedicamentoDiaActivity"
            android:label="@string/title_dia"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActividadRecetas"
            android:label="@string/title_activity_Receta"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActividadCrearReceta"
            android:label="@string/title_activity_CrearReceta"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".VerReceta"
            android:label="@string/title_activity_VerReceta"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>